# DSN (data source name): used as DatabaseURL
DATABASE_URL_MIGRATION="postgres://postgres:postgres@localhost:5432/echodb?sslmode=disable"
PSQL_DSN="postgres://postgres:postgres@localhost:5432/echodb?sslmode=disable"


ALLOWED_ORIGINS="" # URLs in comma seperated list
