DATABASE_URL="postgres://postgres:postgres@postgres:5432/echodb?sslmode=disable"
DATABASE_URL_MIGRATION="postgres://postgres:postgres@localhost:5432/echodb?sslmode=disable"
# For bob
PSQL_DSN="postgres://postgres:postgres@localhost:5432/echodb?sslmode=disable"
REDIS_URL="redis://redis:redis@localhost:6379/echoredis"

ALLOWED_ORIGINS="" # URLs in comma seperated list
